.teacherCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 200px;

  text-align: center;
  text-decoration: none;
  color: black;

  > h4 {
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2.8em;
    line-height: 1.4em;
  }

  > h5 {
    opacity: 70%;
  }

  > img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    width: 100px;
    padding: 10px;
    font-size: 0.8em;
    
    > img {
        width: 80px;
        margin-bottom: 10px;
    }
  }
}
